{% extends "shared/base.html" %}


{% block title %}
<title>User Detail</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>User Detail</h1>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th scope="row">Is Active</th>
            <td>{{user.is_active}}</td>
        </tr>
        <tr>
            <th scope="row">Is Superuser</th>
            <td>{{user.is_superuser}}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}